<%- include('./header.ejs') %>
<%- include('./search-article') %> 
<div class="container my-5">
  <div class="row">
    <% for( let index = 0; index < articles.length; index++ ) { %>
    <div class="col-md-4">
      <div class="card p-2  my-2 rounded" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> <%= articles[index].title %>  </h5>
          <p class="card-text">
            <%= articles[index].description %> 
          </p>
          <div class="d-flex">
            <a href="/dashboard/article/<%= articles[index].id %> " class="btn btn-outline-info ">Read More</a>
           <a href="/editarticle/<%= articles[index].id %>" class="btn btn-info">Edit</a>
          <a href="/deletearticle/<%= articles[index].id %>" class="btn btn-danger">Delete</a> 
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<%- include('./footer.ejs') %>
